.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #1089ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background: #23374D;
  color: #e5e5e5;
}

.App {
  font-family: 'Bitter', serif;
}

Form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 20rem;
}

input {
  margin: .5rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-family: 'Bitter', serif;
}

button {
  display: flex;
  align-self: center;
  justify-content: center;
  background: #1089FF;
  border-radius: 2rem;
  border-color: #1089FF;
  width: 10rem;
  font-size: 1rem;
  font-family: 'Bitter', serif;
  text-decoration: none;
}

p {
  color: white;
}

.owed {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  color: #e5e5e5;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  font-family: 'Bitter', serif;
  text-decoration: none;
}